// colors and gradients
$btn-gradient-clr: linear-gradient(to top, #ff4f58 0%, #fd7048 100%);
$slider-gradient-clr: linear-gradient(to right, #2aeb2a 0%, #007500 100%);

// fonts
$proxima-nova: ProximaNova-Regular;
$intro-black: Intro-Black;
