@import "config";
@import "variables";

// header styling start
header {
  width: 100%;
  height: 56px;
  background-color: #ffffff;
}

.container_main {
  max-width: 1140px !important;
  margin: 0 auto;
  padding: 0;
}

.header__container {
  display: flex;
}

.header__logo {
  display: flex;
  .logotype {
    width: 109px;
    height: 21.4px;
    margin: 17px 30px 17px 0;
  }
  .description {
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    text-transform: uppercase;
    margin: 14px 0 0 1px;
    white-space: nowrap;
    line-height: 17.5px;
    letter-spacing: 0.1px;
  }
}

.header__feedback {
  display: flex;
  margin-left: 22.23vw;
  &-phone {
    margin-top: 21px;
    margin-left: -3px;
    & a {
      font-weight: bold;
      letter-spacing: 0px;
      text-decoration: none;
      color: #000000;
      font-size: 35px;
      line-height: 21px;
      white-space: nowrap;
      &:hover {
        color: rgba(black, 0.7);
      }
    }
  }
  &-button {
    margin-top: 17px;
    margin-left: 14px;
    a {
      text-decoration: none;
      padding: 7px 10.5px;
      border: 1px solid transparent;
      background: $btn-gradient-clr;
      border-radius: 5px;
      color: #ffffff;
      font-size: 13px;
      font-weight: bold;
      white-space: nowrap;
      letter-spacing: 0.1px;
      &:hover {
        background: #fff;
        color: #ff4f58;
        border: 1px solid #ff4f58;
      }
    }
  }
}
// header styling end

// main section styling start

// menu-start
.main__menu {
  width: 100%;
  background: rgba(black, 0.6);
  &-menu {
    display: flex;
    list-style: none;
    margin-bottom: 0;
    & a {
      text-decoration: none;
    }
    & li:first-child {
      padding-left: 107px;
      &:after {
        display: none;
      }
    }
    & li:nth-child(3) {
      padding: 8px 60.4px 6px;
      &:after {
        left: -2px;
      }
    }
    & li:nth-child(4) {
      padding: 8px 65px 6px;
    }
    & li:last-child {
      padding: 8px 65px 6px;
      &:after {
        left: -1px;
      }
    }
    & li {
      padding: 8px 64px 6px 64px;
      & a {
        font-size: 14px;
        letter-spacing: 0.9px;
        color: #ffffff;
        text-transform: uppercase;
      }
    }
    & li {
      position: relative;
      &:after {
        content: "";
        background: #ffffff;
        position: absolute;
        bottom: 29%;
        left: 0;
        height: 46%;
        width: 1px;
      }
    }
  }
}

.carousel-inner {
  position: relative;
}

.main__menu {
  position: absolute;
  bottom: 95.6%;
  z-index: 9;
}
// menu - end

// main -> slider inner content styling

.slider_bedroom {
  background-image: url("../img/bedroom-1.png");
  background-position: cover;
  background-repeat: no-repeat;
  height: 800px;
}

.slider_kitchen {
  background-image: url("../img/kitchen-1.png");
  background-position: cover;
  background-repeat: no-repeat;
  height: 800px;
}

.slider_living-room {
  background-image: url("../img/living-room-1.png");
  background-position: cover;
  background-repeat: no-repeat;
  height: 800px;
}

.slider_living-room-2 {
  background-image: url("../img/living-room-2.png");
  background-position: cover;
  background-repeat: no-repeat;
  height: 800px;
}

.slide__switchers {
  position: relative;
}

.carousel-control-prev {
  position: absolute;
  width: 2%;
  top: 460px;
  left: 19.8vw;
  z-index: 16;
  &-icon {
    background-image: url("../img/prev-icon.svg");
    width: 25px;
    height: 40px;
  }
}

.carousel-control-next {
  position: absolute;
  width: 2%;
  top: 460px;
  right: 67.3vw;
  z-index: 16;
  &-icon {
    background-image: url("../img/next-icon.svg");
    width: 25px;
    height: 40px;
  }
}

.carousel-indicators {
  position: absolute;
  top: 452px;
  right: 47.5vw;
  & li {
    position: relative;
    width: 10px;
    height: 10px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    background: transparent;
    margin: 0 8px 8px 9px;
    &.active:before {
      position: absolute;
      content: "";
      top: 10%;
      left: 10%;
      height: 8px;
      width: 8px;
      background: #ffffff;
      border-radius: 50%;
    }
  }
}

.slider__content-wallpapers {
  position: relative;
  max-width: 581px;
  margin-left: 4px;
  margin-top: 71px;
  z-index: 1;
  &-type {
    &-head {
      background: rgba(#ffffff, 0.7);
      padding: 22px 20px 18px 16px;
      transform: skew(-16deg);
      & h1 {
        font-family: Intro;
        font-size: 90px;
        line-height: 68.82px;
        color: #000000;
        text-transform: uppercase;
        opacity: 1 !important;
        transform: skew(16deg);
        margin-bottom: 0;
      }
    }
    &-bottom {
      margin-top: 11px;
      margin-left: -28px;
      &-common {
        display: flex;
        align-items: flex-start;
        &-room {
          background: rgba(#ffffff, 0.7);
          transform: skew(-16deg);
          padding: 3px 27px 10px 22px;
          align-self: stretch;
        }
        &-room h2 {
          font-size: 36px;
          font-family: Intro;
          font-style: italic;
          color: #000000;
          margin-bottom: 0;
          padding: 0 28px 3px 35px;
          border-bottom: 3px solid #000000;
          transform: skew(16deg);
        }
        &-area {
          background: $slider-gradient-clr;
          transform: skew(-16deg);
          margin-left: 10px;
          align-self: center;
          box-shadow: 4px 5px 6px #0c0c0c;
          &-testing {
            height: 50px;
            padding: 0px 22px 57px 8px;
            margin-top: -8px;
            & p {
              font-size: 16px;
              font-family: Intro;
              color: #ffffff;
              margin-bottom: 0;
              transform: skew(16deg);
            }
            & .ot_span {
              font-size: 22px;
            }
            & .numbers_span {
              font-size: 46px;
              padding: 0px 15px 0 13px;
            }
          }
        }
      }
    }
    position: relative;
    &:before {
      position: absolute;
      content: "";
      width: 5px;
      background: rgba(#ffffff, 0.7);
      transform: skew(-16deg);
      height: 181px;
      right: 103.5%;
    }
  }
  &-ideas {
    white-space: nowrap;
    font-size: 19px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 23.5px;
    margin-left: -3px;
    line-height: 23.9px;
  }
  &-watchbtn {
    margin-top: 34px;
    & a {
      text-transform: uppercase;
      text-decoration: none;
      color: #ffffff;
      font-size: 23px;
      font-weight: bold;
      line-height: 25.99px;
      padding: 10px 17px 9px 15px;
      border: 2px solid #ffffff;
      border-radius: 6px;
      background: $btn-gradient-clr;
      width: 229px;
      margin-left: -3px;
      &:hover {
        color: #ff4f58;
        background: #fff;
        border: 2px solid #ff4f58;
      }
    }
  }
}

.carousel-item {
  position: relative;
  &:after {
    position: absolute;
    content: "";
    top: 35px;
    height: 483px;
    width: 41.2vw;
    background: rgba(black, 0.4);
    transform-origin: 100% 0;
    transform: skew(-15deg, 0deg);
  }
}

.slider__content-services {
  position: absolute;
  bottom: 0%;
  margin: 0;
  padding: 0;
  background: rgba(#ffffff, 0.8);
  text-align: center;
  height: 281px;
  &-sizes {
    padding-right: 13px;
    padding-left: 12px;
  }
  &-print {
    padding-right: 20px;
    padding-left: 15px;
  }
  &-terms {
    padding-right: 12px;
    padding-left: 17px;
  }
  &-intermediary {
    padding-right: 3px;
    padding-left: 15px;
  }
  & .col-sm-3 {
    margin-top: 20px;
    & h3 {
      font-size: 22px;
      margin-top: 15px;
      font-weight: bold;
    }
    & p {
      line-height: 19.5px;
    }
  }
}

// end styling slider

// @media
@media (max-width: 1266px) {
  .carousel-control-next {
    right: 66.3vw;
  }
  .carousel-control-prev {
    left: 18.8vw;
  }
  .slider__content-wallpapers {
    margin-left: 7vw;
  }
  .header__container {
    justify-content: center;
  }
  .carousel-item:after {
    width: 44.2vw;
  }
}

@media (max-width: 1140px) {
  .slider__content-services .col-sm-3 h3 {
    font-size: 18px;
  }
  .slider__content-services .col-sm-3 p {
    font-size: 14px;
  }
  .row.slider__content-services-row {
    padding-right: 15px;
    padding-left: 15px;
  }
  .main__menu-menu li a {
    font-size: 9px;
  }
  .carousel-control-next {
    right: 65.3vw;
  }
  .carousel-control-prev {
    left: 17.8vw;
  }
  .carousel-item:after {
    width: 55.2vw;
  }
}

@media (min-width: 992px) {
  #content-menu,
  #pushbar-overlay {
    display: none;
  }
}

@media (max-width: 991px) {
  .slide__switchers,
  .main__menu,
  .header__feedback {
    display: none;
  }

  // styling responsive nav
  #content-menu {
    padding: 15px;
    transition: 0.7s;
    overflow: hidden;
    width: 7%;
    padding-top: 4px;
    & .slide a {
      color: #000000;
      font-size: 36px;
    }
    & .nav-responsive {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 2;
      top: 0;
      right: 0;
      background-color: #ffffff;
      overflow-x: hidden;
      transition: 0.7s;
      padding-top: 50px;
      &__list-item {
        display: flex;
        flex-direction: row;
        padding: 18px 30px;
        text-decoration: none;
        font-size: 16px;
        color: #000000;
        text-transform: capitalize;
        background-color: #ffffff;
        white-space: nowrap;
        &:nth-child(6) {
          border-top: 1px solid rgba(#ccc, 0.5);
          text-transform: uppercase;
        }
        &:nth-child(2) {
          border-bottom: 1px solid rgba(#ccc, 0.5);
          text-transform: uppercase;
        }
        &:hover {
        }
        & img {
          height: 24px;
          width: 20px;
          margin-right: 10px;
        }
      }
      & ul {
        display: flex;
        justify-content: space-around;
        position: absolute;
        width: 100%;
        margin-top: 50px;
        & li {
          list-style: none;
          & a.social-items {
            font-size: 26px;
            color: #ccc;
            padding: 6px 5px;
          }
        }
      }
      .nav-responsive__close {
        position: absolute;
        top: 8px;
        right: 22px;
        margin-left: 50px;
        font-size: 30px;
        color: #ccc;
      }
    }
  }
  // end of styling nav responsive

  .header__container {
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-left: 15px;
    margin-right: 15px;
    & .header__logo {
      padding-left: 15px;
    }
  }

  .carousel-item:after {
    top: 0;
    height: 519px;
  }
  .slider__content-services .col-sm-3 h3 {
    font-size: 15px;
  }
  .slider__content-services .col-sm-3 p {
    font-size: 12px;
  }

  .row.slider__content-services-row img {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 767px) {
  .slider__content-wallpapers-type {
    display: inline-block;
    margin-left: 15px;
    &:before {
      height: 174px;
    }
    &-head {
      display: inline-block;
      & h1 {
        font-size: 70px;
      }
    }
    &-bottom {
      display: inline-block;
      &-common-room {
        display: inline-block;
        & h2 {
          font-size: 30px;
        }
      }
      &-common-area {
        &-testing {
          height: 40px;
          padding: 0px 14px 45px 8px;
          & .numbers_span {
            font-size: 35px;
          }
        }
      }
    }
  }
  .slider__content-wallpapers-ideas {
    font-size: 17px;
  }
  .slider__content-wallpapers-watchbtn {
    display: inline-block;
    & a {
      font-size: 19px;
    }
  }
  .slider__content-services {
    & .col-sm-3 {
      flex: 100%;
      max-width: 50%;
      p {
        display: none;
      }
    }
  }
  .carousel-item:after {
    width: 400px;
  }
}

@media (max-width: 640px) {
  #content-menu {
    width: 10%;
  }
}

@media (max-width: 575px) {
  .description {
    display: none;
  }
  .carousel-item:after {
    width: 383px;
  }
  .slider__content-wallpapers {
    &-type {
      &:before {
        height: 175px;
      }
      &-head {
        & h1 {
          font-size: 60px;
        }
      }
      &-bottom-common-room {
        & h2 {
          font-size: 30px;
        }
        margin-left: 2px;
      }
      &-bottom-common-area {
        &-testing {
          height: 25px;
          padding: 0px 5px 36px 5px;
          margin-top: 0px;
          & .numbers_span {
            font-size: 28px;
            padding: 0px 3px 0 0px;
          }
          & .ot_span {
            font-size: 14px;
          }
          & p {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .carousel-item {
    height: 680px;
    &:after {
      height: 399px;
      width: 350px;
    }
  }
  #content-menu {
    width: 15%;
  }
  .slider__content-wallpapers {
    margin-top: 40px;
    &-type {
      &:before {
        height: 169px;
        width: 3px;
      }
      &-head {
        & h1 {
          font-size: 50px;
        }
      }
      &-bottom-common {
        &-room {
          & h2 {
            font-size: 25px;
          }
        }
      }
    }
    &-ideas {
      font-size: 16px;
    }
    &-watchbtn a {
      font-size: 18px;
    }
  }
}

@media (max-width: 400px) {
  .slider__content-wallpapers {
    &-type {
      &-head h1 {
        font-size: 45px;
      }
      &-bottom-common {
        &-room {
          margin-left: 3px;
          padding: 3px 14px 10px 7px;
        }
      }
    }
  }
}

@media (max-width: 374px) {
  .carousel-item:after {
    width: 324px;
  }
  .slider__content-wallpapers {
    &-ideas {
      font-size: 15px;
    }
    &-type {
      &:before {
        height: 163px;
      }
      &-head h1 {
        font-size: 38px;
      }
      &-bottom-common {
        &-room {
          & h2 {
            font-size: 21px;
          }
        }
      }
    }
  }
  .row.slider__content-services-row img {
    width: 50px;
    height: 50px;
  }
}
